
/*@author lingfei2*/
body {
   font-family:"Microsoft Yahei",SimSun,Arial !important;
   width: 100%;
   height: 100%;
   background: #ebebeb!important;
}

#wrapper{
    width:1000px;
    height: 100%;
    margin: 85px auto;
}

/*nav*/
.navbar>.container .navbar-brand {
    font-size: 30px;
    font-family:  "Microsoft Yahei",SimSun,Arial;
    color: #3498db;
    line-height: 45px;
}

.navbar-inverse .navbar-brand {
    font-size:20px;
    color:#fff;
}
.navbar-brand {
    line-height: 50px;
}
.navbar-header{
    height: 85px;
}

.navbar>.container .navbar-brand i{
    letter-spacing: 4px;
}
.navbar>.container .navbar-brand .nav-icon{
    vertical-align: middle;
    color: #fff;
}

/* list */
.item-list{
    width: 100%;
    height: 110px;
}
.item-wrapper{
    float: left;
    margin: 10px 20px;
    position: relative;
}

#add-item{
    float: right;
}

#add-item .item-one{
    width: 60px;
    height: 60px;
    border-width: 4px;
}

#add-item .list-icon{
    font-size: 30px;
    line-height: 50px;
    cursor: pointer;
}

.item-one{
    display: block;
    width: 90px;
    height: 90px;
    text-align:center;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    border :6px solid #e74c3c;
    background: #fff;
}

.item-one:hover .item-text{
    display: block;
}

.itme-one .cover{
    width: 100%;
    height: 100%;
    text-align:center;
    overflow: hidden;
}

.item-one .item-text{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left:0px;
    background: #000;
    opacity: 0.8;
    text-decoration: none;
    line-height: 80px;
    color: #fff;
    font-size: 18px;
    display: none;
    font-family:"Microsoft Yahei",SimSun,Arial;
}

.item-one .list-icon{
    width: 100%;
    height: 100%;
    text-align: center;
    color: #3498db;
    font-size:50px;
    line-height: 80px;
}

.traingle{
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 16px 8px;
    border-color: #e74c3c transparent transparent transparent;
    position: relative;
    bottom: -12px;
    left: 50%;
    margin-left: -8px;
    display: none;
}

.num{
    position: absolute;
    top:2px;
    right: 2px;
    color: #fff;
    background: #e74c3c;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.select .traingle{
    display: inline;
}

/*panel*/
.main-panel{
    width: 100%;
    min-height: 450px;
    height: auto;
    background: #fff;
    border:4px solid #e74c3c;
    border-radius: 8px;
    position: relative;
    top: -20px;
    overflow: hidden;
}

.panel-wrapper{
    width: 100%;
    min-height: 400px;
    height: auto;
    display: none;
}
.show-panel{
    width: 100%;
    min-height: 400px;
    height: auto;
    background: #fff;
}

.msg-handle{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 45px;
    background: #3498db;
}

.msg-handle-tip{
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #fff;
}

.msg-handle .arrow{
    color: #fff;
    font-size: 20px;
    position: absolute;
    left:50%;
    top: 50%;
    margin-left: -10px;
    cursor: pointer;
}

.msg-handle-up{
    /*top :0;*/
}

.msg-handle-up p{
    margin :20px 0;
}

.msg-handle-up .arrow{
    top:0;
}

.msg-panel{
    width: 100%;
    height: 400px;
    position: absolute;
    bottom:-400px;
    background: #fff;
    overflow-y: scroll;
}

ul{
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.msg-list{
    height: 60px;
    width: 100%;
    border-bottom:1px solid #999;
    border-top:1px solid #ccc;
    line-height: 50px;
    font-size: 20px;
    padding: 0 20px;
    background: #fff;
    margin: 0;
    cursor: pointer;
}

.unread{
    background: #ebebeb;
}

/* rss dialog*/

#rss .ok-icon{
    display: none;
}

#rss .border-none,#alert .border-none{
    border: none;
}

#rss .item-one{
    width: 60px;
    height: 60px;
    border-width: 4px;
    margin: 5px 10px;
    float: left;
}

#rss .item-one .list-icon{
    font-size: 30px;
    line-height: 50px;
}

#rss .item-one .item-text{
    font-size: 14px;
    line-height: 50px;
}

#rss .selected .ok-icon{
    position: absolute;
    right: -10px;
    color: #fff;
    background: #e74c3c;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    display: inline;
}

#rss .selected .cover{
    overflow: hidden;
}

#rss .selected .item-text{
    border-radius: 100%;
}

#rss .selected {
    overflow: visible;
}

#rss .modal-header{
    font-size: 20px;
    color:#3498db;
}

/*alert*/
#alert .modal-title-padding{
    padding: 5px 20px;
}

/*chart*/
.weather{
    height:500px;
    width:900px;
    margin:0 auto;
}

.daily{
    height: 400px;
    width: 900px;
    margin: 0 auto;
}